snippet ifmain
	def main() -> None:
		${0:pass}
	

	if __name__ == "__main__":
		main()
snippet from
	from ${1:library} import ${0:object}
snippet forrange
	for ${1:i} in range(${2:0}, ${3:n}):
		${0:pass}
